<nav>
  <a routerLink="home">HOME</a>
  <a routerLink="product">PRODUCT</a>
  <a routerLink="login">LOGIN</a>
  <a routerLink="contactus">CONTACTUS</a>
  <a routerLink="register">REGISTER</a>

</nav>

<router-outlet></router-outlet>
<!-- <div class="product">
<img src="assets/images/grainseeds.jpg" alt="">
<div class="content">
GRAINSEEDS<br><br>
AMOUNT:100RS<br><br>
<a href=".login.component.html">BUY NOW</a>
<div class="product1">
  <img src="assets/images/pesticides.jpg" alt="">
   <div class="content1">
  PESTICIDES<br><br>
  AMOUNT:20RS<br><br>
  <a href=".login.component.html">BUY NOW</a>
  </div> 
  </div>
</div>
</div>-->

 <!-- <app-book [attrBook]="books"></app-book> -->
<!-- <style>
  .content{
    position: relative;
    left:20px;
  }
  .content1{
    position: relative;
    left:280px;
    top:-280px;
  }  -->

 <!-- .product1 img{
    position: relative;
    top:-60px;
  }
  a{
    text-decoration: none;
  }
  img{
    width:250px;
    height:220px;
  }
  .product{
    border: 2px solid black;
  
    display: flex;
    background-color: green;
  }
  .product1{
    position: relative;
    top:-30px;
    left:500px;
  }
</style> -->
